<ng-container *ngIf="form; else loading">
  <div class="container-max-width-xs">
    <div class="pt-3 font-medium text-2xl text-center">Log in</div>
    <form class="pt-4" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label for="username">Enter your email</label>
        <input
          pInputText
          class="w-full block"
          type="email"
          formControlName="email"
        />
      </div>
      <ng-container *ngIf="form.get('email') as control">
        <ul *ngIf="control.touched || control.dirty" class="text-pink-500 text-sm">
          <li *ngIf="control.errors?.['required']">Email is required</li>
          <li *ngIf="control.errors?.['email']">Email is incorrect</li>
        </ul>
      </ng-container>
      <div class="mt-3">
        <label for="username">Enter your password</label>
        <input
          pInputText
          class="w-full block"
          type="password"
          formControlName="password"
        />
      </div>
      <div class="mt-4">
        <p-button
          [disabled]="!form.valid"
          styleClass="p-button-primary w-full"
          type="submit"
          label="Submit"
        ></p-button>
      </div>
    </form>
  </div>
</ng-container>
<ng-template #loading>
  <div class="h-screen flex justify-content-center align-items-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
