<div class="container-max-width-md">
  <ng-container *ngIf="form; else loading">
    <form [formGroup]="form" (ngSubmit)="onStartTraining()">
      <p-card>
        <h2 class="text-center">Get your job done!</h2>
        <div class="text-center font-medium text-lg mt-6">Pick workout:</div>
        <div class="flex my-5 justify-content-evenly">
          <ng-container *ngIf="trainingList">
            <p-radioButton
              *ngFor="let training of trainingList"
              [formControlName]="training.groupName"
              [label]="training.name | titlecase"
              [value]="training.id"
              [name]="training.groupName"
            ></p-radioButton>
          </ng-container>
        </div>
        <div class="mt-3">
          <p-button
            [disabled]="!form.valid"
            styleClass="w-full"
            label="start"
            type="submit"
          ></p-button>
        </div>
      </p-card>
    </form>
  </ng-container>
  <ng-template #loading>
    <div class="flex justify-content-center">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </ng-template>
</div>
