<ng-container *ngIf="ongoingTraining; else trainingPanel">
  <app-current-training
    (exitTraining)="ongoingTraining = false"
  ></app-current-training>
</ng-container>
<ng-template #trainingPanel>
  <div class="container-max-width-md card-shadow">
    <p-tabView>
      <p-tabPanel header="New Exercise">
        <app-new-training (startTraining)="startTraining()"></app-new-training>
      </p-tabPanel>
      <p-tabPanel header="Past Exercises">
        <app-past-trainings></app-past-trainings>
      </p-tabPanel>
    </p-tabView>
  </div>
</ng-template>
